@model IEnumerable<Task.Models.Project>

@{
    ViewBag.Title = "curr";
    }
<style>
    tr, td, th {
    margin:30px;
    padding:30px;
    height:100px;
    }
</style>
<div class="container">
<h2>Current Projects</h2>
    <hr />
<p>
    @*Html.ActionLink("New User", "Create",null, new { @class ="btn btn-warning"})*@
</p>
    <br />
    @if (Model.Count() > 0){
<table class="table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>     
           <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>Controls</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          @if(item.Status == 0 ){
            <p>On Progress</p>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        <td>
            @Html.ActionLink("Edit Project", "EditProj", new { id = item.ID }, new {@class="btn" }) 
            <br />
            @Html.ActionLink("Project Details", "DetailsProj",new { id=item.ID }, new {@class="btn" }) 
            <br />
            @Html.ActionLink("Delete Project", "DeleteProj", new { id=item.ID }, new {@class="btn" })
        </td>
    </tr>
    
}

</table>
    }  
     else{
    <h2> There's No Current Projects</h2>
    }
    <br />
    <br />
     <br />
    @Html.ActionLink("Return Back", "Index",null, new { @class ="btn btn-danger"})
        <br /><br />
    </div>
