@model IEnumerable<Task.Models.User>

@{
    ViewBag.Title = "listProfile";
}
<div class="container">
<h1>Profile Data</h1>

@foreach (var item in Model) {
    <div style="text-align:center">
<h1 class="section-header" style="text-align:center">Your<span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Photo</span></h1>
            @if(item.Photo != null){
         <img class="img-thumbnail" width="300" height="300" src="@item.Photo" />
            }
</div>
    <h3>Full Name : @item.FirstName @item.LastName</h3>
        <h3>Mobile : @item.Mobile </h3>
        <h3>Password : @item.Password </h3>
       <h3>Job Description : @item.JobDescription </h3>
            <h3>Email : @item.Email </h3>
    <h4>JOB Description : @item.JobDescription </h4>
   <br /><br /> 
  <span>  
            @Html.ActionLink("Update Profile", "Update", new { id=item.ID },new {@style="text-size:50px;text-decoration:underline;border-radius:10px;color:#000;border:3px solid #ccc;padding:20px"}) 
      </span>
}
    <br /><br /><br />
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-info"> Return Back </a>
</div>
<br />
<br />
<br />
<br />
<br />